In [1]:
import pandas as pd


df2 = pd.read_csv('output2.csv')
df1= pd.read_csv('NIFTY50.csv')
# Ensure consistent date format
df1['date'] = pd.to_datetime(df1['date'])
df2['date'] = pd.to_datetime(df2['date'])

# Merge the DataFrames based on the common date column using a left join
merged_df = pd.merge(df1, df2, on='date', how='left')

# Fill NaN with -1
merged_df = merged_df.fillna(-1)

# Print the merged DataFrame
display(merged_df)

C:\Users\krish\AppData\Local\Temp\ipykernel_11312\3564811756.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df2['date'] = pd.to_datetime(df2['date'])

,date,Open,High,Low,Close,Shares Traded,Turnover (₹ Cr),news
0,2022-01-03,17387.15,17646.65,17383.3,17625.7,200456430.0,16181.36,ETtech Opinion: Charting innovations that busi...
1,2022-01-03,17387.15,17646.65,17383.3,17625.7,200456430.0,16181.36,Residential real estate market beats pandemic ...
2,2022-01-03,17387.15,17646.65,17383.3,17625.7,200456430.0,16181.36,"Residential realty beats pandemic blues, sales..."
3,2022-01-03,17387.15,17646.65,17383.3,17625.7,200456430.0,16181.36,Residential real estate market beats pandemic ...
4,2022-01-03,17387.15,17646.65,17383.3,17625.7,200456430.0,16181.36,EWS quota panel suggests dropping existing cri...
...,...,...,...,...,...,...,...,...
160236,2024-03-28,22163.60,22516.00,22163.6,22326.9,407422815.0,45656.57,Fashion retailer H&M beats expectations in spr...
160237,2024-03-28,22163.60,22516.00,22163.6,22326.9,407422815.0,45656.57,"Trouble in INDIA bloc, Congress objects to UBT..."
160238,2024-03-28,22163.60,22516.00,22163.6,22326.9,407422815.0,45656.57,Maruti Suzuki breaches Rs 4 lakh crore m-cap m...
160239,2024-03-28,22163.60,22516.00,22163.6,22326.9,407422815.0,45656.57,Shares of Varun Beverages fall as Nifty gains
160240,2024-03-28,22163.60,22516.00,22163.6,22326.9,407422815.0,45656.57,European shares muted ahead of economic data; ...

In [2]:
merged_df.to_csv('merged_data.csv', index=False)